<div class="container">
  <p><form class="find_recent_tweets" action="/recent_tweets" method="get">
    <input type="text" name="twitter_handle" placeholder="twitter handle">
    <input type="submit" value="submit">
  </form>
</div>


	
	